<!DOCTYPE html 
      PUBLIC "-//W3C//DTD HTML 4.01//EN"
      "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
  <head profile="http://www.w3.org/2005/10/profile">
  <link rel="icon" 
      type="image/png" 
      href="/static/favicon.png">
    
    <title>aMAZE.com > Logout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5; url=/">
  </head>
  <body>

    <table align="center" id="page_contents" >
        <tr><td align="center"><b><big>aMAZE.com AirBNB Browser</big></b></td></tr>
        <tr> </tr>
        <tr> </tr>
        <tr> </tr>
        <tr> </tr>
        <tr> </tr>

        <tr>
            <td align="center" width=100% >
                {{LogoutMessage}}
            </td>
        </tr>
        <tr>
            <td align="center" width=100% >
                    {{ExtraDetails}}
            </td>
        </tr>
        <tr>
            <td align="center" width=100% >
                Click <a href="/">Here </a> to go back to home page
            </td>
        </tr>
    </table>
      <!-- BEGIN REACT IMPORTS -->
    
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-bootstrap@next/dist/react-bootstrap.min.js" crossorigin></script>
    <!-- END REACT IMPORTS -->
  </body>